h1{
    color: aliceblue;
}

h2{
    color: #7851A9;
}

h3{
    color: #fd7;
}

h4{
    color: #FF3700;
}

h5{
    color: #0d0;
}

h6{
    color: rgb(23, 5, 200)
}

p{
    color: rgba(19, 124, 200, 100)
}